*.dll
*.exe
.DS_Store
terraform.tfplan
terraform.tfstate
terraform.tfstate.backup
bin/
dist/
.vagrant/
*.backup
.terraform/
.terraform.lock.hcl
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
vendor/
website/vendor
